* {
  box-sizing: border-box;
  height: 400px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.banner {
  background-image: url("./images/sav-bridge-night.jpg");
}

header {
  background-size: cover;
  background-position: center;

  width: 100%;
  padding: 30px;
  border: 20px solid gray;

  font-size: 85px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: rgb(91, 94, 8);
}

article {
  font-size: 50px;
}

h1 {
  text-align: start;
  float: left;
}

h2 {
  position: relative;
  text-align: right;
  font-size: 50px;
  float: right;
}

.name-div {
  font-size: 75px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  font-style: oblique;
}

footer {
  width: 100%;
  padding: 50px;
  border: 20px solid gray;
  background-color: blueviolet;
  text-align: center;
  font-size: 150px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  color: green;
}
